div.calendar
    div.calendar-h
        p КАЛЕНДАРЬ F1® 2018
    div.calendar-buttons
        span.calendar-buttons_left <
        span.calendar-buttons_right >
    div.calendar-mixin
        include .././_mixin.pug    
        +calendar("./assets/australia.jpg", "Melburne grand prix circuit", "23-25", "mar", "australian grand prix")
        +calendar("./assets/bahrain.jpg", "bahrain international circuit", "06-08", "apr", "air bahrain grand prix")
        +calendar("./assets/shangai.jpg", "shanghai international circuit", "13-15", "apr", "heineken chinese grand prix")
        +calendar("./assets/azerbaijan.jpg", "baku city circuit", "27-29", "apr", "azerbaijan grand prix")
        +calendar("./assets/spain.jpg", "circuit de barcelona-catalunia", "11-13", "may", "grand premio de espana")
        +calendar("./assets/monaco.jpg", "circut de monaco", "24-27", "may", "grand prix de monaco")
        +calendar("./assets/canada.jpg", "circuit gilles villneuve", "08-10", "jun", "grand prix du canada")
        +calendar("./assets/france.jpg", "circuit paul ricard", "22-24", "jun", "gran prix de france")
        +calendar("./assets/austria.jpg", "red bull ring", "29-01", "jun-jul", "grosser preis von osterreich-spielberg")
        +calendar("./assets/germany.jpg", "hockenheimring", "20-22", "jul", "grosser preis von deutchland")
        +calendar("./assets/uk.jpg", "silverstone circuit", "06-08", "jul", "rolex britich grand prix")
        +calendar("./assets/hungary.jpg", "hungaroring", "27-29", "jul", "magyar nagydij")
        +calendar("./assets/belgium.jpg", "circuit de spa", "24-26", "aug", "belgian grand prix")
        +calendar("./assets/italy.jpg", "autodrome nazionale monza", "31-02", "aug-sep", "gran premio heineken d`italia")
        +calendar("./assets/singapore.jpg", "marina bay street circuit", "14-16", "sep", "singapore grand prix")
        +calendar("./assets/russia.jpg", "sochi autodrom", "28-30", "sep", "vtb russion grand prix")
        +calendar("./assets/japan.jpg", "suzuka international racing course", "05-07", "oct", "japanesse grand prix")
        +calendar("./assets/usa.jpg", "circuit of the americas ", "19-21", "oct", "unated states grand prix")
        +calendar("./assets/mexico.jpg", "autodromo hermanos rodriguez", "26-28", "oct", "gran premio de mexico 2018")
        +calendar("./assets/brazil.jpg", "autudromo jose carlos pace", "09-11", "nov", "grande premio de brasil")
        +calendar("./assets/abu-dhabi.jpg", "yas marina circuit", "23-25", "nov", "etihad airways abe-dhabi grand prix")


            
