div.calendar
    div.calendar-h
        p КАЛЕНДАРЬ F1® 2018
    div.calendar-buttons
        span.calendar-buttons_left <
        span.calendar-buttons_right >
    div.calendar-mixin
        include .././_mixin.pug    
        +calendar("./assets/australia.jpg", "Melburne grand prix circut", "23-25", "mar", "australian grand prix")
        +calendar("./assets/bahrain.jpg", "bahrain international circuit", "06-08", "apr", "air bahrain grand prix")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")
        +calendar("./assets/australia.jpg", "Melburne", "13-14", "apr", "hdhd")

            
