div.footer 
    div.footer-top
        div.footer-top_left
            p.footer-top_left_text pirelli беларусь
        div.footer-top_right
            div.footer-top_right_text
                p следите за нами
            div.footer-top_right_links
                a(href="#")
                    img(class="footer-top_right_img" src="./assets/telegram.png", alt="telegram")
                a(href="#")
                    img(class="footer-top_right_img" src="./assets/instagram.png", alt="instagram")
                a(href="#")
                    img( class="footer-top_right_img" src="./assets/skype.png", alt="skype")
                a(href="#")   
                    img( class="footer-top_right_img" src="./assets/ok.png", alt="ok")
                a(href="#")
                    img( class="footer-top_right_img" src="./assets/viber.png", alt="viber")             
    div.footer-center 
        div.footer-center_left 
            p шины            
            a(class="footer-center_left_link" href="#") все шины
            br
            a(class="footer-center_left_link" href="#") ралли
            br
            a(class="footer-center_left_link" href="#") трек
            br
            a(class="footer-center_left_link" href="#") gt
        div.footer-center_right 
            p спонсорство            
            a(class="footer-center_right_link" href="#") formula 1
            br
            a(class="footer-center_right_link" href="#") мотокросс
            br
            a(class="footer-center_right_link" href="#") супербайк
    div.footer-bottom 
        div.footer-bottom_top
        div.footer-bottom_bottom
            div.footer-bottom_bottom_left
                p.footer-bottom_bottom_left_cop Copyright © 2018 Pirelli & C. S.p.A. - Pirelli Tyre S.p.A.
            div.footer-bottom_bottom_right
                a(href="#") Юридическая информация
                a(href="#") Конфеденциальности
                a(href="#") Обратная связь