div.header
    div.header-top.col-12
        div.header-top_logo.col-1
            a(href="#" class="heder-top_logo_link") PIRELLI.COM
        div.header-top_links.col-8
            a(href="#" class="heder-top__link") автомобиль
            a(href="#" class="heder-top__link") мото шины
            a(href="#" class="heder-top__link") автоспорт
            a(href="#" class="heder-top__link") велошины
            a(href="#" class="heder-top__link") грузовые шины
            a(href="#" class="heder-top__link") pirelli calendar
            a(href="#" class="heder-top__link") pirelli design
            a(href="#" class="heder-top__link") fondazione pirelli
            a(href="#" class="heder-top__link") pirelli hangarbicocca
        div.header-top_about.col-2
            a(href="#" class="heder-top__abouut_link") о компании
        div.header-top_region.col-1
            span.header-top_region_dropdown 
            a беларусь  
            span.header-top_region_dropdown_icon 
            a.header-top_region_dropdown_icon_link > 
    div.header-top_region_dropdown_menu.col-10
        div.header-top_region_dropdown_menu_change Change your region
        div.header-top_region_dropdown_menu_world            
            div.header-top_region_dropdown_menu_europe
                img(src="./assets/Europe.png", alt="Europe")
                img(src="./assets/line.png", alt="", srcset="")
            div.header-top_region_dropdown_menu_namerica
                img(src="./assets/NAmerica.png", alt="NAmerica")
                img(src="./assets/line.png", alt="", srcset="")
            div.header-top_region_dropdown_menu_samerica
                img(src="./assets/SAmerica.png", alt="SAmerica")
            div.header-top_region_dropdown_menu_asia
                img(src="./assets/line.png", alt="", srcset="")
                img(src="./assets/Asia.png", alt="Asia")
                img(src="./assets/line.png", alt="", srcset="")
            div.header-top_region_dropdown_menu_africa
                img(src="./assets/Africa.png", alt="Africa")
        div.header-top_region_dropdown_menu_inter GO TO INTERNATIONAL WEBSITE
    div.header-bottom.col-12
        div.header-bottom_logo.col-2
            a(href="#")
            img(src="./assets/pirelli-logo.png", alt="logo", srcset="")
        div.header-bottom_menu.col-10
            div.header-bottom_menu_tires
                a(class="header-bottom_menu_tires_link" href="#") шины
                span.header-bottom_menu_tires_icon >
            div.header-bottom_menu_f1
                a(href="#") formula 1
                span
            div.header-bottom_menu_bike
                a(href="#") супербайк
                span
            div.header-bottom_menu_cross
                a(href="#") мотокросс
                span    
    div.header-bottom_menu_tires_dropdown.col-12
        div.header-bottom_menu_tires_dropdown_line
            p _______________
        div.header-bottom_menu_tires_dropdown_text
            p все шины    
        div.header-bottom_menu_tires_dropdown_link
            a(href="#") трек 
        div.header-bottom_menu_tires_dropdown_link
            a(href="#") ралли  
        div.header-bottom_menu_tires_dropdown_link
            a(href="#") gt                 
script(src="./js/component/header.js")    
                        