div.header
    div.header-top.col-xl-12
        div.header-top_logo.col-xl-1
            a(href="#" class="heder-top_logo_link") PIRELLI.COM
        div.header-top_links.col-xl-8
            a(href="#" class="heder-top__link") автомобиль
            a(href="#" class="heder-top__link") мото шины
            a(href="#" class="heder-top__link") автоспорт
            a(href="#" class="heder-top__link") велошины
            a(href="#" class="heder-top__link") грузовые шины
            a(href="#" class="heder-top__link") pirelli calendar
            a(href="#" class="heder-top__link") pirelli design
            a(href="#" class="heder-top__link") fondazione pirelli
            a(href="#" class="heder-top__link") pirelli hangarbicocca
        div.header-top_about.col-xl-2
            a(href="#" class="heder-top__abouut_link") о компании
        div.header-top_region.col-xl-1
            span.header-top_region_dropdown 
            a беларусь  
            span.header-top_region_dropdown_icon 
            a.header-top_region_dropdown_icon_link > 
    div.header-top_region_dropdown_menu
        div.header-top_region_dropdown_menu_change Change your region
        div.header-top_region_dropdown_menu_world            
            div.header-top_region_dropdown_menu_europe
                img(src="./assets/Europe.png", alt="Europe")
                img(src="./assets/line.png", alt="", srcset="")
            div.header-top_region_dropdown_menu_namerica
                img(src="./assets/NAmerica.png", alt="NAmerica")
                img(src="./assets/line.png", alt="", srcset="")
            div.header-top_region_dropdown_menu_samerica
                img(src="./assets/SAmerica.png", alt="SAmerica")
            div.header-top_region_dropdown_menu_asia
                img(src="./assets/line.png", alt="", srcset="")
                img(src="./assets/Asia.png", alt="Asia")
                img(src="./assets/line.png", alt="", srcset="")
            div.header-top_region_dropdown_menu_africa
                img(src="./assets/Africa.png", alt="Africa")
        div.header-top_region_dropdown_menu_inter GO TO INTERNATIONAL WEBSITE
script(src="./js/component/header.js")    
                        