.calendar {
  background-color: #d4d6d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  overflow: hidden; }
  .calendar-h {
    font-weight: normal;
    font-size: 40px; }
  .calendar-buttons {
    font-size: 35px; }
    .calendar-buttons_left {
      color: #b6b8ba;
      display: inline-block;
      margin-right: 10px;
      transition: 0.5s; }
      .calendar-buttons_left:hover {
        color: black;
        cursor: pointer; }
    .calendar-buttons_right {
      color: #b6b8ba;
      display: inline-block;
      margin-left: 10px;
      transition: 0.5s; }
      .calendar-buttons_right:hover {
        color: black;
        cursor: pointer; }
  .calendar-mixin {
    display: flex;
    flex-direction: row;
    transition: 0.6s; }
  .calendar-slider {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    .calendar-slider_races {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-right: solid 0.5px #b6b8ba;
      padding-top: 20px;
      font-family: Arial, Helvetica, sans-serif;
      width: 200px; }
    .calendar-slider_images {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .calendar-slider_header {
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .calendar-slider_data {
      font-size: 30px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center; }
    .calendar-slider_month {
      font-size: 20px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center; }
    .calendar-slider_name {
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center; }
