.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 380px;
  z-index: 2;
  position: relative;
  background-color: white;
  overflow: hidden; }
  .section > img {
    width: 100%; }
  .section-racing_spot {
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 10px; }
  .section-social_wall {
    text-transform: uppercase;
    font-size: 30px; }
  .section-photo_top {
    display: flex;
    align-items: row;
    width: 100%; }
  .section-photo_bottom {
    display: flex;
    align-items: row;
    width: 100%; }
  .section-photo_image {
    margin: 5px; }
    .section-photo_image > img {
      width: 100%;
      height: 100%; }
  .section-pirelli {
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 10px; }
  .section-stories {
    text-transform: uppercase;
    font-size: 30px; }
  .section-text {
    font-size: 10px; }
  .section-news {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    @media (max-width: 900px) {
      .section-news {
        display: flex;
        flex-direction: column; } }
    .section-news_big {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
    .section-news_url > img {
      width: 100%; }
    .section-news_content > p {
      font-size: 13px; }
      @media (max-width: 1160px) {
        .section-news_content > p {
          position: relative;
          width: 100%; } }
    .section-news_link {
      font-size: 15px; }
