.tires {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 35px;
  position: relative;
  z-index: 2;
  background-color: white;
  overflow: hidden; }
  @media (max-width: 1160px) {
    .tires {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-item: center;
      width: 100%; } }
  .tires-images {
    position: relative;
    width: 50%;
    right: 28%; }
    @media (max-width: 1160px) {
      .tires-images {
        position: relative;
        margin: 0 auto; } }
    .tires-images--drive {
      transform: translate(100%, 0);
      transition: transform 1s ease-out; }
      @media (max-width: 1160px) {
        .tires-images--drive {
          position: relative;
          margin: 0 auto;
          right: 50%; } }
    .tires-images_tire_wheel--rotate {
      transform: rotate(180deg);
      transition: transform 1s ease-out; }
  .tires-text {
    width: 50%;
    margin-right: 15%;
    margin-left: 15%; }
    @media (max-width: 1160px) {
      .tires-text {
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding: 25px; } }
  @media (max-width: 1160px) {
    .tires-h2 {
      text-align: center; } }

.tires_revers {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 35px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: white; }
  @media (max-width: 1160px) {
    .tires_revers {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-item: center;
      width: 100%; } }
  .tires_revers-images {
    position: relative;
    width: 50%;
    left: 28%; }
    @media (max-width: 1160px) {
      .tires_revers-images {
        position: relative;
        margin: 0 auto; } }
    .tires_revers-images--drive {
      transform: translate(-90%, 0);
      transition: transform 1s ease-out; }
      @media (max-width: 1160px) {
        .tires_revers-images--drive {
          position: relative;
          margin: 0 auto;
          left: 46%; } }
    .tires_revers-images_tire_wheel--rotate {
      transform: rotate(-180deg);
      transition: transform 1s ease-out; }
  .tires_revers-text {
    width: 50%;
    margin-right: 15%;
    margin-left: 15%; }
    @media (max-width: 1160px) {
      .tires_revers-text {
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding: 25px; } }

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold; }
