.header {
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: white;
  transition: 0.6s; }
  .header--none {
    transform: translateY(-36px);
    transition: 0.6s; }
  .header-top {
    text-transform: uppercase;
    font-size: 8px;
    display: flex;
    border: solid 0.5px #d2d8d6;
    flex-direction: row;
    height: 36px;
    align-items: center;
    text-decoration-color: black;
    position: relative; }
    .header-top_logo {
      border-right: solid 0.5px #d2d8d6; }
    .header-top_links {
      border-right: solid 0.5px #d2d8d6;
      display: flex;
      justify-content: space-between; }
    .header-top_about {
      border-right: solid 0.5px #d2d8d6;
      display: flex;
      justify-content: flex-end; }
    .header-top_region {
      display: flex;
      justify-content: flex-end; }
      .header-top_region_dropdown_icon {
        margin-left: 5px; }
        .header-top_region_dropdown_icon_link {
          transform: rotate(90deg); }
      .header-top_region_dropdown_menu {
        flex-direction: column;
        margin-left: auto;
        justify-content: center;
        border: solid 0.5px #d2d8d6;
        border-top: none;
        display: none;
        z-index: 1;
        background: white;
        position: absolute;
        top: 36px;
        right: 0; }
        .header-top_region_dropdown_menu--open {
          display: block;
          transition: 1s; }
        .header-top_region_dropdown_menu_world {
          display: flex;
          flex-direction: row;
          border-bottom: solid 0.5px #d2d8d6;
          justify-content: space-between; }
        .header-top_region_dropdown_menu_change {
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 15px; }
        .header-top_region_dropdown_menu_inter {
          font-weight: bold;
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 5px;
          height: 102px; }
        .header-top_region_dropdown_menu_samerica {
          padding-top: 23px;
          border-bottom: solid 0.5px #d2d8d6; }
  .header-bottom {
    display: flex;
    flex-direction: row;
    height: 78px;
    border: solid 0.5px #d2d8d6;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative; }
    .header-bottom_menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 78px;
      padding: 0; }
      .header-bottom_menu > div {
        display: flex;
        border: solid 0.5px #d2d8d6;
        height: 78px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        flex-basis: inherit;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: bold; }
      .header-bottom_menu_tires {
        transition: 0.5s; }
        .header-bottom_menu_tires--shadow {
          box-shadow: 0 0 10px;
          transition: 0.5s; }
        .header-bottom_menu_tires_link {
          margin: 0 auto; }
        .header-bottom_menu_tires_icon {
          padding-left: auto;
          margin-right: 20px;
          transform: rotate(90deg);
          transition: 0.5s; }
          .header-bottom_menu_tires_icon--rotate {
            transform: rotate(270deg);
            transition: 0.5s; }
        .header-bottom_menu_tires_dropdown {
          position: absolute;
          margin-top: 114px;
          background: white;
          height: 300px;
          padding-left: 300px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 13px;
          display: none;
          border: solid 0.5px #d2d8d6;
          z-index: 1; }
          .header-bottom_menu_tires_dropdown > div {
            margin: 10px; }
          .header-bottom_menu_tires_dropdown_line {
            font-weight: bold; }
          .header-bottom_menu_tires_dropdown_text {
            font-weight: bold;
            text-transform: uppercase; }
          .header-bottom_menu_tires_dropdown--open {
            display: block; }

.bgimg {
  margin-top: 113px; }
  .bgimg-tires {
    height: 450px;
    width: 100%;
    background-image: url(.././assets/bg-motorsport.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    margin-bottom: 240px; }
    .bgimg-tires_h {
      font-size: 50px; }
    .bgimg-tires_text {
      font-size: 12px;
      width: 800px; }
  .bgimg-wheels {
    position: absolute;
    top: 46%;
    left: 25%; }
    .bgimg-wheels_img {
      height: 70%;
      width: 70%; }
  .bgimg-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 12px;
    flex-direction: column; }
    .bgimg-link > a:hover {
      text-decoration: none; }
    .bgimg-link > a > img {
      margin-top: 20px; }

.tires {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px; }
  .tires-images {
    position: relative;
    width: 50%;
    right: 22%; }
    .tires-images--drive {
      transform: translate(100%, 0);
      transition: transform 1s ease-out; }
    .tires-images_tire_wheel--rotate {
      transform: rotate(180deg);
      transition: transform 1s ease-out; }
  .tires-text {
    width: 50%;
    margin-right: 15%;
    margin-left: 15%; }

.tires_revers {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
  overflow: hidden; }
  .tires_revers-images {
    position: relative;
    width: 50%;
    left: 22%; }
    .tires_revers-images--drive {
      transform: translate(-90%, 0);
      transition: transform 1s ease-out; }
    .tires_revers-images_tire_wheel--rotate {
      transform: rotate(-180deg);
      transition: transform 1s ease-out; }
  .tires_revers-text {
    width: 50%;
    margin-right: 15%;
    margin-left: 15%; }

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold; }

.calendar {
  background-color: #d4d6d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  overflow: hidden; }
  .calendar-h {
    font-weight: normal;
    font-size: 40px; }
  .calendar-buttons {
    font-size: 35px; }
    .calendar-buttons_left {
      color: #b6b8ba;
      display: inline-block;
      margin-right: 10px; }
      .calendar-buttons_left:hover {
        color: black; }
    .calendar-buttons_right {
      color: #b6b8ba;
      display: inline-block;
      margin-left: 10px; }
      .calendar-buttons_right:hover {
        color: black; }
  .calendar-mixin {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding-right: 20px; }
  .calendar-slider {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    .calendar-slider_races {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-right: solid 0.5px #b6b8ba;
      margin-right: 30px;
      padding: 50px;
      font-family: Arial, Helvetica, sans-serif; }
    .calendar-slider_images {
      margin-bottom: 10px; }
    .calendar-slider_header {
      font-size: 13px; }
    .calendar-slider_data {
      font-size: 30px;
      text-transform: uppercase; }
    .calendar-slider_month {
      font-size: 20px;
      text-transform: uppercase; }

a {
  color: black;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    transition: 0.25s;
    text-decoration: underline;
    color: #959991; }

html, body {
  height: 100%;
  width: 100%; }
