doctype html
html
    head
        meta(charset="UTF-8")
        title Group work 18
        link(rel="stylesheet" type="text/css" href="/libs/bootstrap/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="/style/main.css")
    body
        block body

        script(src="/libs/jquery/jquery.js")
        script(src="/libs/bootstrap/bootstrap.js")
        script(src="/js/main.js")
        script(src="./js/component/tires.js")
        script(src="./js/component/header.js")  
        script(src="./js/component/calendar.js")