extends ./_template.pug
block body
    include ./component/_header.pug
    include ./component/_bgimg.pug
    include ./component/_tires.pug
    include ./component/_calendar.pug
    include ./component/_section.pug
    include ./component/_footer.pug