extends ./_template.pug
block body
    include ./component/header.pug
    include ./component/bgimg.pug
    include ./component/tires.pug
    include ./component/calendar.pug
    include ./component/section.pug