
<div class="bgimg">
  <div class="bgimg-tires">
    <div class="bgimg-tires_h">
      <p>НОВЫЕ ШИНЫ ДЛЯ F1®</p>
    </div>
    <div class="bgimg-tires_text">
      <p>В 2018 году линейка шин для Формулы 1 сохранила размеры, апробированные в 2017 году (передние - 305/670-13, задние - 405/670-13), и дополнилась новыми профилями, конструкциями и компаундами, которые в целом стали на порядок мягче прошлогодних. Число компаундов линейки гладких гоночных шин увеличилось с пяти до семи за счет Orange superhard, новых жестких шин с оранжевой меткой, и Pink hypersoft, новых мягких шин с розовой меткой.   </p>
    </div>
  </div>
  <div class="bgimg-wheels"><img class="bgimg-wheels_img" src=".././assets/wheels-group.png" alt="wheels-group" srcset=""/></div>
  <div class="bgimg-link"><a href="#wheel">узнать больше о линейке шин для автотранспорта</a><a href="#wheel"> <img src=".././assets/shooter.png" alt="узнать о линейке"/></a></div>
</div>