
<div class="calendar">
  <div class="calendar-h">
    <p>КАЛЕНДАРЬ F1® 2018</p>
  </div>
  <div class="calendar-buttons"><span class="calendar-buttons_left"><</span><span class="calendar-buttons_right">></span></div>
  <div class="calendar-mixin">
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne grand prix circuit</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>23-25</p>
            </div>
            <div class="calendar-slider_month">
              <p>mar</p>
            </div>
            <div class="calendar-slider_name">
              <p>australian grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/bahrain.jpg" alt="./assets/bahrain.jpg"/></div>
            <div class="calendar-slider_header">
              <p>bahrain international circuit</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>06-08</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>air bahrain grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/shangai.jpg" alt="./assets/shangai.jpg"/></div>
            <div class="calendar-slider_header">
              <p>shanghai international circuit</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-15</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>heineken chinese grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/azerbaijan.jpg" alt="./assets/azerbaijan.jpg"/></div>
            <div class="calendar-slider_header">
              <p>baku city circuit</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>27-29</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>azerbaijan grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/spain.jpg" alt="./assets/spain.jpg"/></div>
            <div class="calendar-slider_header">
              <p>circuit de barcelona-catalunia</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>11-13</p>
            </div>
            <div class="calendar-slider_month">
              <p>may</p>
            </div>
            <div class="calendar-slider_name">
              <p>grand premio de espana</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/monaco.jpg" alt="./assets/monaco.jpg"/></div>
            <div class="calendar-slider_header">
              <p>circut de monaco</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>24-27</p>
            </div>
            <div class="calendar-slider_month">
              <p>may</p>
            </div>
            <div class="calendar-slider_name">
              <p>grand prix de monaco</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/canada.jpg" alt="./assets/canada.jpg"/></div>
            <div class="calendar-slider_header">
              <p>circuit gilles villneuve</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>08-10</p>
            </div>
            <div class="calendar-slider_month">
              <p>jun</p>
            </div>
            <div class="calendar-slider_name">
              <p>grand prix du canada</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/france.jpg" alt="./assets/france.jpg"/></div>
            <div class="calendar-slider_header">
              <p>circuit paul ricard</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>22-24</p>
            </div>
            <div class="calendar-slider_month">
              <p>jun</p>
            </div>
            <div class="calendar-slider_name">
              <p>gran prix de france</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/austria.jpg" alt="./assets/austria.jpg"/></div>
            <div class="calendar-slider_header">
              <p>red bull ring</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>29-01</p>
            </div>
            <div class="calendar-slider_month">
              <p>jun-jul</p>
            </div>
            <div class="calendar-slider_name">
              <p>grosser preis von osterreich-spielberg</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/germany.jpg" alt="./assets/germany.jpg"/></div>
            <div class="calendar-slider_header">
              <p>hockenheimring</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>20-22</p>
            </div>
            <div class="calendar-slider_month">
              <p>jul</p>
            </div>
            <div class="calendar-slider_name">
              <p>grosser preis von deutchland</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/uk.jpg" alt="./assets/uk.jpg"/></div>
            <div class="calendar-slider_header">
              <p>silverstone circuit</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>06-08</p>
            </div>
            <div class="calendar-slider_month">
              <p>jul</p>
            </div>
            <div class="calendar-slider_name">
              <p>rolex britich grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/hungary.jpg" alt="./assets/hungary.jpg"/></div>
            <div class="calendar-slider_header">
              <p>hungaroring</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>27-29</p>
            </div>
            <div class="calendar-slider_month">
              <p>jul</p>
            </div>
            <div class="calendar-slider_name">
              <p>magyar nagydij</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/belgium.jpg" alt="./assets/belgium.jpg"/></div>
            <div class="calendar-slider_header">
              <p>circuit de spa</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>24-26</p>
            </div>
            <div class="calendar-slider_month">
              <p>aug</p>
            </div>
            <div class="calendar-slider_name">
              <p>belgian grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/italy.jpg" alt="./assets/italy.jpg"/></div>
            <div class="calendar-slider_header">
              <p>autodrome nazionale monza</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>31-02</p>
            </div>
            <div class="calendar-slider_month">
              <p>aug-sep</p>
            </div>
            <div class="calendar-slider_name">
              <p>gran premio heineken d`italia</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/singapore.jpg" alt="./assets/singapore.jpg"/></div>
            <div class="calendar-slider_header">
              <p>marina bay street circuit</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>14-16</p>
            </div>
            <div class="calendar-slider_month">
              <p>sep</p>
            </div>
            <div class="calendar-slider_name">
              <p>singapore grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/russia.jpg" alt="./assets/russia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>sochi autodrom</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>28-30</p>
            </div>
            <div class="calendar-slider_month">
              <p>sep</p>
            </div>
            <div class="calendar-slider_name">
              <p>vtb russion grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/japan.jpg" alt="./assets/japan.jpg"/></div>
            <div class="calendar-slider_header">
              <p>suzuka international racing course</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>05-07</p>
            </div>
            <div class="calendar-slider_month">
              <p>oct</p>
            </div>
            <div class="calendar-slider_name">
              <p>japanesse grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/usa.jpg" alt="./assets/usa.jpg"/></div>
            <div class="calendar-slider_header">
              <p>circuit of the americas </p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>19-21</p>
            </div>
            <div class="calendar-slider_month">
              <p>oct</p>
            </div>
            <div class="calendar-slider_name">
              <p>unated states grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/mexico.jpg" alt="./assets/mexico.jpg"/></div>
            <div class="calendar-slider_header">
              <p>autodromo hermanos rodriguez</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>26-28</p>
            </div>
            <div class="calendar-slider_month">
              <p>oct</p>
            </div>
            <div class="calendar-slider_name">
              <p>gran premio de mexico 2018</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/brazil.jpg" alt="./assets/brazil.jpg"/></div>
            <div class="calendar-slider_header">
              <p>autudromo jose carlos pace</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>09-11</p>
            </div>
            <div class="calendar-slider_month">
              <p>nov</p>
            </div>
            <div class="calendar-slider_name">
              <p>grande premio de brasil</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/abu-dhabi.jpg" alt="./assets/abu-dhabi.jpg"/></div>
            <div class="calendar-slider_header">
              <p>yas marina circuit</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>23-25</p>
            </div>
            <div class="calendar-slider_month">
              <p>nov</p>
            </div>
            <div class="calendar-slider_name">
              <p>etihad airways abe-dhabi grand prix</p>
            </div>
          </div>
        </div>
  </div>
</div>