
<div class="calendar">
  <div class="calendar-h">
    <p>КАЛЕНДАРЬ F1® 2018</p>
  </div>
  <div class="calendar-buttons"><span class="calendar-buttons_left"><</span><span class="calendar-buttons_right">></span></div>
  <div class="calendar-mixin">
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne grand prix circut</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>23-25</p>
            </div>
            <div class="calendar-slider_month">
              <p>mar</p>
            </div>
            <div class="calendar-slider_name">
              <p>australian grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/bahrain.jpg" alt="./assets/bahrain.jpg"/></div>
            <div class="calendar-slider_header">
              <p>bahrain international circuit</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>06-08</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>air bahrain grand prix</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
        <div class="calendar-slider">
          <div class="calendar-slider_races">
            <div class="calendar-slider_images"><img src="./assets/australia.jpg" alt="./assets/australia.jpg"/></div>
            <div class="calendar-slider_header">
              <p>Melburne</p>
            </div>
            <div class="calendar-slider_line">
              <p>_____</p>
            </div>
            <div class="calendar-slider_data">
              <p>13-14</p>
            </div>
            <div class="calendar-slider_month">
              <p>apr</p>
            </div>
            <div class="calendar-slider_name">
              <p>hdhd</p>
            </div>
          </div>
        </div>
  </div>
</div>