
<div class="footer"> 
  <div class="footer-top">
    <div class="footer-top_left">
      <p class="footer-top_left_text">pirelli беларусь</p>
    </div>
    <div class="footer-top_right">
      <div class="footer-top_right_text">
        <p>следите за нами</p>
      </div>
      <div class="footer-top_right_links"><a href="#"><img class="footer-top_right_img" src="./assets/telegram.png" alt="telegram"/></a><a href="#"><img class="footer-top_right_img" src="./assets/instagram.png" alt="instagram"/></a><a href="#"><img class="footer-top_right_img" src="./assets/skype.png" alt="skype"/></a><a href="#">  <img class="footer-top_right_img" src="./assets/ok.png" alt="ok"/></a><a href="#"><img class="footer-top_right_img" src="./assets/viber.png" alt="viber"/></a></div>
    </div>
  </div>
  <div class="footer-center"> 
    <div class="footer-center_left"> 
      <p>шины            </p><a class="footer-center_left_link" href="#">все шины</a><br/><a class="footer-center_left_link" href="#">ралли</a><br/><a class="footer-center_left_link" href="#">трек</a><br/><a class="footer-center_left_link" href="#">gt</a>
    </div>
    <div class="footer-center_right"> 
      <p>спонсорство            </p><a class="footer-center_right_link" href="#">formula 1</a><br/><a class="footer-center_right_link" href="#">мотокросс</a><br/><a class="footer-center_right_link" href="#">супербайк</a>
    </div>
  </div>
  <div class="footer-bottom"> 
    <div class="footer-bottom_top"></div>
    <div class="footer-bottom_bottom">
      <div class="footer-bottom_bottom_left">
        <p class="footer-bottom_bottom_left_cop">Copyright © 2018 Pirelli & C. S.p.A. - Pirelli Tyre S.p.A.</p>
      </div>
      <div class="footer-bottom_bottom_right"><a href="#">Юридическая информация</a><a href="#">Конфеденциальности</a><a href="#">Обратная связь</a></div>
    </div>
  </div>
</div>