
<div class="header">
  <div class="header-top col-xl-12">
    <div class="header-top_logo col-xl-1"><a class="heder-top_logo_link" href="#">PIRELLI.COM</a></div>
    <div class="header-top_links col-xl-8"><a class="heder-top__link" href="#">автомобиль</a><a class="heder-top__link" href="#">мото шины</a><a class="heder-top__link" href="#">автоспорт</a><a class="heder-top__link" href="#">велошины</a><a class="heder-top__link" href="#">грузовые шины</a><a class="heder-top__link" href="#">pirelli calendar</a><a class="heder-top__link" href="#">pirelli design</a><a class="heder-top__link" href="#">fondazione pirelli</a><a class="heder-top__link" href="#">pirelli hangarbicocca</a></div>
    <div class="header-top_about col-xl-2"><a class="heder-top__abouut_link" href="#">о компании</a></div>
    <div class="header-top_region col-xl-1"><span class="header-top_region_dropdown"> </span><a>беларусь  </a><span class="header-top_region_dropdown_icon"> </span><a class="header-top_region_dropdown_icon_link">> </a></div>
  </div>
  <div class="header-top_region_dropdown_menu">
    <div class="header-top_region_dropdown_menu_change">Change your region</div>
    <div class="header-top_region_dropdown_menu_world">           
      <div class="header-top_region_dropdown_menu_europe"><img src="./assets/Europe.png" alt="Europe"/><img src="./assets/line.png" alt="" srcset=""/></div>
      <div class="header-top_region_dropdown_menu_namerica"><img src="./assets/NAmerica.png" alt="NAmerica"/><img src="./assets/line.png" alt="" srcset=""/></div>
      <div class="header-top_region_dropdown_menu_samerica"><img src="./assets/SAmerica.png" alt="SAmerica"/></div>
      <div class="header-top_region_dropdown_menu_asia"><img src="./assets/line.png" alt="" srcset=""/><img src="./assets/Asia.png" alt="Asia"/><img src="./assets/line.png" alt="" srcset=""/></div>
      <div class="header-top_region_dropdown_menu_africa"><img src="./assets/Africa.png" alt="Africa"/></div>
    </div>
    <div class="header-top_region_dropdown_menu_inter">GO TO INTERNATIONAL WEBSITE</div>
  </div>
</div>
<script src="./js/component/header.js">   </script>