
<div class="section"> <img src="./assets/fone.png" alt="fone"/>
  <div class="section-racing_spot">
    <p>racing spot</p>
  </div>
  <div class="section-social_wall">
    <p>social wall</p>
  </div>
  <div class="section-photo">
    <div class="section-photo_top">
            <div class="section-photo_image"><img src="./assets/jordan.jpg" alt="./assets/jordan.jpg"/></div>
            <div class="section-photo_image"><img src="./assets/kimi.jpg" alt="./assets/kimi.jpg"/></div>
            <div class="section-photo_image"><img src="./assets/mclaren.jpg" alt="./assets/mclaren.jpg"/></div>
            <div class="section-photo_image"><img src="./assets/mex.jpg" alt="./assets/mex.jpg"/></div>
            <div class="section-photo_image"><img src="./assets/sauber.jpg" alt="./assets/sauber.jpg"/></div>
    </div>
    <div class="section-photo_bottom">
            <div class="section-photo_image"><img src="./assets/podium.jpg" alt="./assets/podium.jpg"/></div>
            <div class="section-photo_image"><img src="./assets/red-bull.jpg" alt="./assets/red-bull.jpg"/></div>
            <div class="section-photo_image"><img src="./assets/renault.jpg" alt="./assets/renault.jpg"/></div>
            <div class="section-photo_image"><img src="./assets/wheel.jpg" alt="./assets/wheel.jpg"/></div>
            <div class="section-photo_image"><img src="./assets/mclaren2.jpg" alt="./assets/mclaren2.jpg"/></div>
    </div>
  </div>
  <div class="section-pirelli">
    <p>pirelli.com</p>
  </div>
  <div class="section-stories">
    <p>история pirelli</p>
  </div>
  <div class="section-text">
    <p>Когда эмоции и приключения выходят на первый план</p>
  </div>
  <div class="section-news">
          <div class="div section-news_big col-4">
            <div class="section-news_url"><img src="./assets/ferrari.jpg" alt="./assets/ferrari.jpg"/></div>
            <div class="section-news_header"> 
              <h6>THE MUSEUM OF MISTAKES</h6>
            </div>
            <div class="section-news_content"> 
              <p>Formula 1 drivers are remembered not only for their successes, but also for their failures, Mistakes can be made anywhere – as Sebastian Vettel proved at his home German Grand Prix earlier this year. Which is still a race that he has never won… He’s in...</p>
            </div>
            <div class="section-news_link"><a href="#">ЧИТАТЬ ПОЛНОСТЬЮ &gt;</a></div>
          </div>
          <div class="div section-news_big col-4">
            <div class="section-news_url"><img src="./assets/san-marino.png" alt="./assets/san-marino.png"/></div>
            <div class="section-news_header"> 
              <h6>F1 ON THE STREETS OF MILAN</h6>
            </div>
            <div class="section-news_content"> 
              <p>The Italian Grand Prix at Monza is always one of the absolute highlights of the Formula 1 calendar. The circuit’s illustrious history and unique high speeds are part of the attraction, but it is arguably the passionate home crowds that really make the...</p>
            </div>
            <div class="section-news_link"><a href="#">ЧИТАТЬ ПОЛНОСТЬЮ &gt;</a></div>
          </div>
          <div class="div section-news_big col-4">
            <div class="section-news_url"><img src="./assets/deg.png" alt="./assets/deg.png"/></div>
            <div class="section-news_header"> 
              <h6>AN IDEAL LAB ON THE FINAL F1 TRACK</h6>
            </div>
            <div class="section-news_content"> 
              <p>On the final Sunday of November, Abu Dhabi will host its 10th grand prix.  Formula 1 history travels fast. Even back in 2000, the idea of having a grand prix in the middle of the desert was the stuff of science fiction. In 2004, Bahrain...</p>
            </div>
            <div class="section-news_link"><a href="#">ЧИТАТЬ ПОЛНОСТЬЮ &gt;</a></div>
          </div>
  </div>
</div>